* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    --light1: #FFFFE1;
    --light2: #FEFFBD;
    --dark1: #E5E6AA;
    --dark2: #BEBF8E;
    --dark3: #3F402F;

    background: linear-gradient(180deg,var(--dark2),var(--dark3));
}

.local-hero {
    background-image: url(https://i.ibb.co/PwFSPmC/mandala-color1.png);
    background-color: var(--dark1);
    background-blend-mode: screen;
    background-position: 0 -100px;
    background-size: 150%;
    object-fit: fill;
    min-height: 100vh;

}

.hero-txt {
    display: flex;
    flex-direction: column;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    margin: 5em 7em 0 25%;
    border-radius: 5px;
    color: var(--dark3);
    padding: 0 3em;
}

.hero-txt span {
    text-shadow: 2px 2px 2px var(--dark2);
}

.hero-txt-ln1,
.hero-txt-ln2 {
    margin: auto;
    font-size: 5rem;
}

.hero-txt-ln3,
.hero-txt-ln4 {
    margin: auto;
    font-size: 2.5rem;
}

.hero-txt-ln2,
.hero-txt-ln4 {
    font-family: 'Long Cang', cursive;
}

.hero-img-container {
    width: 500px;
}

.head {
    max-width: 100%;
    width: 500px;
    height: 500px;
    transition: 350ms;
}

.head-small {
    max-width: 100%;
    width: 300px;
    height: 300px;
    transition: 350ms;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);
    margin: 0 0 0 25%;
    padding: 1em 4em;
    border-radius: 5px;
}

.code-logo {
    max-width: 150px;
    max-height: 50px;
}

.local-btn-cta {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    padding: 0.5em 1em;
    border-radius: 10px;
    margin: 2em 0.5em 0 0.5em;
    background: rgb(255, 235, 153);
    color: var(--dark3);
    cursor: pointer;
    text-decoration: none;
    transition: 250ms;
}

.local-btn-cta:hover,
.local-btn-cta:focus {
    transform:translateX(-1px);
    transform:translateY(-2px);
    box-shadow: 1px 1px 3px var(--dark3);
    background: rgb(255, 248, 153);
    color: var(--dark3);
    text-decoration: none;
    transition: 250ms;
}

.projects {
    margin-left: 25%;
}

.local-card {
    max-height: 400px;
}

.local-card-img {
    object-fit: cover;
}

.local-card-title a {
    color: var(--dark3);
}

.contact {
    display: flex;
    flex-flow: row, wrap;
    justify-content: center;
    align-items: center;
    background: var(--light1);
    margin: 0;
}

.btn-contact {
    font-size: 4rem;
    margin: 2em;
    color: var(--dark3);
    transition: 250ms;
}

.btn-contact:hover,
.btn-contact:focus {
    transform:translateX(-1px);
    transform:translateY(-2px);
    transition: 250ms;
    color: var(--dark2);
}

@media (max-width: 650px) {
    .hero-txt {
        padding: 0.2;
        margin: 0;
    }

    .local-hero .hero-txt span {
        font-size: 250%;
    }

    .skills {
        padding: 0 .2;
        margin: 0;
    }

    .local-btn-cta {
        margin: 1em 0.1em;
        align-self: center;
        justify-self: center;;
    }

    .head {
        display: none;
    }

    .hero-img-container {
        width: 0px;
    }

    .projects {
        margin: 0;
        padding: 0;
    }

    .btn-contact {
        margin: 0.3em;
    }
}

